


/* html ,body{
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
} */

/* .container{
    border:3px solid goldenrod;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    height: 100%;
    align-items:flex-start;
    flex-direction:column;
    justify-content:flex-end; 
    flex-wrap: wrap;
} */

/* .container > div{
width: 300px;
} */
/* .search{
    margin-left:auto;
} */
 /* .home{
    margin-right: auto;
 } */
  /* .container > div{
    flex:1;

    flex-grow, flex-shrink, flex-basis
  } */
 /* .home{
    flex: 1;
  }
  .logout{
    flex:10 1 200px;
  } */
   /* .home{
    align-self:flex-end;
   } */

    /* .search{
        order: 0;
    }
    .home{
        order: 1;
    }
    .logout{
        order:-1;
    } */

/* responsive nav bar */
/* .container{
    display: flex;
    border: 2px solid #ffcc5c;
}
.search{
    flex: 1;
}
ul{
    list-style-type: none;
}
li{
    padding: 2px;
}
@media all and (max-width:600px){
    .container{
        flex-wrap: wrap;
    }
    .container > li{
        flex: 1 1 50%;
    }
    .search> input{
        text-align: center;
    }
}
@media all and (max-width:400px){
    .container > li{
        flex: 1 1 100%;
    }
    .search{
        order:1;
    }
} */

/* the flexbox image grid */

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big{
    flex:1 1 150px
}
.normal{
    flex:1 1 200px
}