.container{
    border:3px solid goldenrod;
    display: flex;
    /* flex-direction:row; */
    justify-content: flex-end;
}

/* .search{
    margin-left:auto;
} */
 .home{
    margin-right: auto;
 }